// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.extra_info_author {
  display: none;
}

.rahmen {
  border: 1px solid #DDD;
  border-collapse: collapse;
  border-spacing: 2px;
  padding-left: 2px;
}

