// Place all the styles related to the publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pdf_notice {
  background-color: #f3f3f3;
}

.odd_row {
  background-color: #f3f3f3;
}

.all{
  display: none;
}

.important {
  display: none;
}

.additional {
  display: none;
}

.book {
  display: none;
}

.inproceedings{
  display: none;
}

.city {
  display: none;
}

.publisher {
  display: none;
}

.article {
  display: none;
}

.institution {
  display: none;
}

.university {
  display: none;
}

.type_of_work {
  display: none;
}

.department {
  display: none;
}

.date_of_last_access {
  display: none;
}

.bibtex {
  display: none;
}
